@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --background: #F8F8F8;
  --foreground: #1E1E1E;
}

/* Dark Mode */
.dark {
  --background: #1E1E1E;
  --foreground: #EAEAEA;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
